<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Document</title>
  </head>
  <body>
    <mj-section background-color='#fafafa'>
      <mj-column>
        <span style='font-size: 16px; color: #000; font-weight: 500;'>
          Hi
          {{recipient}}
          .Thank you for creating an account. Before you sign-in, we need to
          verify your email. Enter the following code on the sign-in page:
        </span>
        <div style='text-align: center; margin-top: 10px;'><span
            style='display: inline-block; padding: 8px; border-radius: 5px; font-size: 25px; font-weight: 600; background-color: #f1f1f1;'
          >{{postcode}}</span></div>
      </mj-column>
    </mj-section>
  </body>
</html>